img{
    border-radius:90%;
}
h1{
    text-align: center;
}
.dongle-regular {
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
    font-size:24px;
    color:#9B3805;
    background-color:#FFB28B;
    border-radius:5%;
    padding:10px;

  }
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    color:#9B3805;
    background-color:#FB9460;
    border-radius:5%;
    padding:5px;
  }

  ol{
    padding:20px;
    list-style-type:none;

  }
  ul{
    list-style-type:none;
  }
  li{
    background-color:#FFB28B;
  }
  #footer{
    background-color: #C45117;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom:150px;
  }
  .imageone{
    position:relative;
    top:70px;
    left:30px;
  }
  video{
    position:relative;
    bottom:175px;
    left:50px;
    border-radius:10%;
    
  }
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color:#FFB28B;
  }
  