#recipe-image{
   
    border-radius:50px;


}
#recipe-image-second{
  position:absolute;
  left:790px;
  top: 300px;
  border-radius:50px;

}
#recipe-title{
color:#E9C46A;
}
body{
 background-color:#df949d; 
 

}
.spectral-sc-extralight {
  font-family: "Spectral SC", serif;
  font-weight: 1000;
  font-style: normal;
  color:#6f5e4f;
  text-align:center;
  text-shadow: 2px 2px white;

  
}
  article{
    background-color:	#f7efda;
    margin:5px;
    border-width:10px;
    padding:5px;
    
   
  }
  #section{
    background-color:	#f7efda;
    
    

  }
  header{
    background-image:url("media/flowersbg.png");
    background-repeat:repeat;
  
  }
  p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#6f5e4f;
  }
  li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#6f5e4f;
  }
  h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#6f5e4f;
  }
  footer{
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }
  ul{
    list-style-type:georgian;
  }